.presentationContainer {
  width: 100%;
  height: 100%;

  --r-heading-font: '黑体';

  --r-heading1-size: 44px;
  --r-heading2-size: 40px;
  --r-heading3-size: 36px;
  --r-heading4-size: 32px;
  --r-heading5-size: 20px;
  --r-heading6-size: 18px;

  --r-heading-font-weight: 700;
}